### Pandas array data processing

In [1]:
import pandas as pd
import numpy as np
# import matplotlib.pylab as plt

In [95]:
A = [[1,2,3,4], [5,6,7,8], [9,10,11,12]]
df = pd.DataFrame(A)
df.columns = ["col1", "col2", "col3", "col4"]
# df.index = ["row1", "row2", "row3"]
#-- add columns --
c1 = [91, 92, 93]
c2 = [71, 72, 73]
c3 = [51, 52, 53]
c4 = [31, 32, 33]
# df_c4 = pd.DataFrame(c4)
# df_c4.columns = ['col7']
# df_c4
df = df.assign(col5 = c1)
df.insert(2, 'new', c2)
df['col6'] = c3
# df = pd.concat([df, df_c4], axis=1)
df
#-- add rows --
r1 = [81, 82, 83, 84, 85, 86, 87]
df.loc[len(df)] = r1
r2 = [61, 62, 63, 64, 65, 66, 67]
df.loc[-0.5] = r2 # move to top
df = df.sort_index().reset_index(drop=True)
df.loc[1.5] = r2 
df = df.sort_index().reset_index(drop=True)

#-- delete columns --
# df.drop(df.columns[[2, 6]],1,inplace=True)
df.drop(['new', 'col6'], axis=1, inplace=True)
# df.drop(['row3'], axis=0, inplace=True)
df.drop(df.index[2], inplace=True)
df = df.sort_index().reset_index(drop=True)
df.loc[0:3]
# df.col1
df[["col2", "col3"]].loc[0:3]
df.iloc[0:3, 0:4]

   col1  col2  col3  col4
0    61    62    64    65
1     1     2     3     4
2     5     6     7     8

In [109]:
A = [[1,2,3,4], [5,6,7,8], [9,10,11,12]]
df1 = pd.DataFrame(A)
B= [[1,3,5,7], [2,4,6,8], [12,11,10,9]]
df2 = pd.DataFrame(B)
df = pd.concat([df1, df2], axis = 0, ignore_index=True) 
# df = df.sort_index().reset_index(drop=True)

df.loc[0:5]
# df

    0   1   2   3
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3   1   3   5   7
4   2   4   6   8
5  12  11  10   9